body {
    background: beige; /* Requirement-2.4 */
}

#mainTitle, #aboutMeTitle, #reviewTitle { /* Requirement-2.D */
    font-family: Calibri; /* Requirement-2.1 */
    font-size: xxx-large;
    text-align: center; /* Requirement-2.2 */

    
}

.intro span { /* Requirement-2.F */
    color: salmon; /* Requirement-2.3 */
}

.intro img {
    display: flex; /* Requirement-2.12 */
    width: 20%; /* Requirement2.7 */
    margin: auto;
    border-radius: 25px; /* Requirement-2.5 */
    background: salmon;
    padding: 10px; /* Requirement-2.6 */
    position: relative;
}



.header { /* Requirement-2.C */
    font-family: Calibri;
    font-size: xx-large;
    font-style: italic;
    text-align: center;
}

div.aboutMe, div.proLang, p.bio { /* Requirement-2.B */
    background: lightsalmon;
    border-radius: 25px;
    padding: 15px; /* Requirement-2.9 */
    border: 10px salmon;
    border-style: solid;
    color: white;
    width: 50%; /* Requirement-2.10 */
    margin: auto;
    
}

div.proLang {
    width: 200px;
}

p.bio {
    font-family: Calibri;
    font-size: 25px;
    
}

.menu {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Calibri;
    font-size: large;
}

.link a { /* Requirement-2.E */
    display: block;
    background: lightsalmon;
    margin: 10px;
    padding: 20px;
    height: 25px;
    width: 200px;
    border-radius: 25px;
    border: 10px salmon;
    border-style: solid;
    color: white;
}

.link a:hover {
    display: block;
    background: salmon;
    margin: 10px;
    padding: 20px;
    border-radius: 25px;
    border: 10px salmon;
    border-style: solid;
    color: white;
}

.link a:active {
    display: block;
    background: darksalmon;
    margin: 10px;
    padding: 20px;
    border-radius: 25px;
    border: 10px darksalmon;
    border-style: solid;
    color: white;
}


ul { /* Requirement-2.A */
    list-style-type: disc; /* Requirement-2.8 */
    font-family: Calibri;
    font-size: 25px;
    clear: left; /* Requirement-2.13 */
}

#backButton {
    font-family: Calibri;
    text-align: center;
    font-size: large;
    clear: left;
}

/* Requirement-2.G */
details {
    text-align: center;
}

details img {
    width: 300px;
    /* Requirement-2.11 */
    position: relative; /* Requirement-2.15 */
    z-index: 1; /* Requirement-2.17 */
}

.hobbies {
    font-family: Calibri;
    font-size: x-large;
    font-weight: bold;
    
}

/* Requirement-2.H */
summary {
    padding: 10px;
    
}

.description { 
    font-family: Calibri;
    font-size: 25px;
    color: white;
    padding: 20px; 
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    background: lightsalmon;
    border-radius: 25px;
    border: 10px salmon;
    border-style: solid;
}

table {
    border: 10px;
    border-style: solid;
    border-radius: 25px;
    width: 50%;
    font-family: Calibri;
    background: lightsalmon;
    color: white;
    border-color: salmon;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    visibility: visible; /* Requirement-2.16 */
}


p.review {
    float: left; /* Requirement-2.11 */
    padding: 30px;
    overflow: auto; /* Requirement-2.14 */
}

.cover img {
    border-radius: 25px;
    margin: 10px;
}

footer {
    position: absolute; 
}

.desperation {
    font-weight: bolder;
    font-size: 25px;
}